@import "vars";
@import "fonts";
@import "libs";
$leftw:330px;
$rightw:290px;
* {
	padding: 0;
	margin: 0;
}
.medium, .small {
	display:none;
}
.header {
	background-color: #88a3d6;
	height: 60px;
}
.section {
    position: relative;
}
.gallery {
    width: 100%;
    float: left;
    overflow: hidden;
}
.gallery__image{
	display:block;
	margin:0 auto;
}
main {
    padding: 0 $rightw 0 $leftw;
    .article {
		margin:30px 0;
	}
}
.bar{
	float: left;
	position: relative;
}
.left {   
    width: $leftw;
    margin-left: -100%;
    left: 0;
}
.right {
    width: $rightw;
    margin-left: -$rightw;
    right: 0;
}
.image-wrapper{
	margin: 30px;
}
.large__row{		
	column-count: 4;		
	margin-bottom: 20px;	
}
.medium__row{
	column-count: 3;
	margin-bottom: 30px;
}
.small__row{
	column-count: 2;
	margin-bottom: 20px;
} 
@media screen and (min-width:768px) and (max-width:1279px) {
.large{	
	display:none;
}
.medium{
	display:block;
}
main {
    padding:0 0 0 227px;
}
.gallery__image{
	width:165px;
}
.image-wrapper {
	margin: 30px 13px 13px 15px;
	width:199px;
}
.bar__image {
	width:199px;
}
.bar {
	width:227px;
}        
.right {
	margin: 0;
	left: 0;
	top: 260px;
	position:absolute;
} 
}
@media screen and (min-width:320px) and (max-width:767px) {
.large, .medium {
	display:none;
}
.small {
	display: block;
} 
main {
    padding:0;
    .article {
		margin:20px 15px;
	}
}
.gallery__image {
	width:100%;
}
.image-wrapper {
	margin: 0 0 20px 0;
	padding:0 15px;
}
.bar__image {
	width:100%;
}
.bar{
	width: 100%;
	padding: 0;
	margin: 0 auto;
	float: none;
	clear: both;
}
.left {
	left: 0;
}        
.right {
	right: 0;
} 
.section {
    padding-bottom: 80px;
}
}